bory {
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f4;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0 rgba(50,50,50);
    padding: 20px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.card p {
    color: #a3a5ae;
    font-size: 16px;
}

.image {
    float: right;
    max-width: 64px;
    max-height: 64px;
}

.green {
    border-left: 3px solid #3bb54a;
}

.blue {
    border-left: 3px solid #4895ff;
}

.red {
    border-left: 3px solid #b3404a;
}


